# Gradle
.gradle/
build/
**/build/
local.properties
*.iml

# IDE
.idea/
*.iws
*.ipr
.DS_Store

# Android
**/androidApp/local.properties

# iOS
**/*.xcworkspace
**/*.xcuserdata
**/Pods/

# Kotlin/Native
**/.kotlin/

# Node / Web
node_modules/
dist/
